*{
    margin: 0;
    padding: 0;
}

/*HEADER*/

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
    background-color: #fffefa;
    border-bottom: 3px solid #39807b;
    top: 0%;
}

#logo{
    height: 40px;
}

#søgeikon{
    height: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
  
}

#button{
    background-color:#dc793e;
    color: #1c1c1b;
    font-family: 'Myriad Pro', sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    display: inline-flex;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#button:hover{
    background-color: #c36c29;
}

header> nav> div> a{
    text-decoration: none;
    color: #1c1c1b;
    font-family: 'Myriad Pro', sans-serif;
    padding: 20px;
    font-size: 13pt;
    letter-spacing: 0.5pt;
}

.dropdown{
    position: relative;
    display: inline-block;
  }
  
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #fffefa;
    z-index: 1;
}

.dropdown-content a{
    color: #1c1c1b;
    font-family: 'Myriad Pro';
    font-size: 11pt;
    letter-spacing: 0.5pt;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
      color: #7bad95
}

.dropdown:hover .dropdown-content{
    display: block;
}

/*BURGERMENU*/

#burgermenubody{
    background-color: #fffefa;
    color: #1c1c1b;
}

#burgermenu{
    display:flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

#burgermenu> div> a{
    text-decoration: none;
    color: #1c1c1b;
    font-family: 'Myriad Pro', sans-serif;
    padding: 20px;
    font-size: 13pt;
    letter-spacing: 0.5pt;
}

#burgermenuexit > img{
    width: 30px;
    height: 30px;
    padding: 2%;
}

/*HERO SECTION*/

#hero{
    background-image: url("images/bright-cabbage-close-up-colors.jpeg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.opacity-box{
    height: 360px;
    width: 460px;
    background-color: #fffefa; opacity: 90%;
    padding-left: 60px;
    padding-top: 50px;
    box-sizing: border-box;
    position: relative; top: 140px; left: 120px;  
}

#fade-in-pop-up{
    width: 30%;
    position: absolute;
    left: 550px;
    top: 260px;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 0.1s;
}
  
@keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity:1;}
    0% {transform:scale(0.5);}
    50% {transform:scale(1.2);}
    100% {transform:scale(1);}
}
  

/*Hvem er jeg SECTION*/

body{
    background-color: #fffefa;
}

main{
    background-image: url("images/baggrund-tapet.png");
    background-size: cover;
}

#frame{
    border: 2px solid #39807b;
    margin-left: 120px;     
}


.flex{
    display: flex;
    padding: 120px;
}

#centertext{
    text-align: center;
    padding-top: 50px;
}

/*ARTIKLER & BLOGINDLÆG SECTION*/

.cards{
    display: flex;
    justify-content: space-evenly;
    margin-left: -20px;
}

.thumbnail{
    width: 20%;
    background-color: #7bad95;
    margin-bottom: 10px;
    border-radius: 8px;
}

.thumbnail>img{
    width: 100%;
}

.thumbnail> a> img{
    width: 100%;
}

.container> a{
    text-decoration: none;
    color: #1c1c1b;
}

.container{
    text-align: left;
    line-height:0.2em;
    padding-left: 20px;
    padding-bottom: 20px;
}

/*MINE BØGER SECTION*/

.green-box{
    height: 400px;
    width: 70%;
    background-color: #39807b;
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-box> div> img{
    width: 290px;
    padding-right: 100px;
}

.buy-button{
    background-color:#dc793e;
    width: 100px;
    color: #1c1c1b;
    font-family: 'Myriad Pro', sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    margin: 4px 4px;
    padding: 8px 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buy-button:hover{
    background-color: #c36c29;
}

/*FODMAP ARTIKEL*/

#fodmap{
    background-image: url("images/fodmap-1920_962.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size:84%;
    background-position: center;
    background-position-y: 150px;
}

.opacity-box-diæt{
    height: 260px;
    width: 460px;
    background-color: #fffefa; opacity: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    box-sizing: border-box;
    position: relative; top: 250px; left: 460px;  
}

.artikel{
    display: flex;
    padding: 120px;
}

.artikel> div> h3{
    padding-top: 2em;
}

.headline{
    font-size: 24pt;
}

.artikel> div> h2{
    padding-top: 1em;
    font-style: italic;
    padding-left: 0px;
}

.green-box-bog{
    height: 400px;
    width: 100%;
    background-color: #39807b;
    box-sizing: border-box;
    padding-right: 20%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-box-bog> div> img{
    width: 240px;
    padding-right: 160px;
    padding-left: 200px;
    transform: rotate(-6deg);
}

.green-box-bog> div> h3{
  padding-bottom: 1em;
}

/*BØGER*/

.bøger{
    display: flex;
    padding: 200px;
}

#italic{
    color: #1c1c1b;
    font-style: italic;
    padding-top: 3em;
}

.green-box-bøger{
    height: 400px;
    width: 70%;
    background-color: #39807b;
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
}

.green-box-bøger> div> img{
    width: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

/*NYHEDSBREV*/

.nyhed{
    display: flex;
    padding-left: 200px;
    padding-top: 200px;
}

#orange{
    color: #dc793e;
    padding-bottom: 0.5em;
}

.fordele{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-left: 100px;
}

#green{
    color: #39807b;
    padding-bottom: 1em;
    padding-left: 200px;
    padding-top: 3em;
}

.pictogram{
    width: 10%;
    margin-right: 100px;
    padding-top: 10px;
}

.fordele> div> div> h4{
    text-align: center;
    padding-top: 1em;
 }

.fordele> div> div> p{
    text-align: center;
}

.green-box-nyhed{
    height: 400px;
    width: 70%;
    background-color: #39807b;
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 5%;
    padding-top: 4%;
}

input, textarea{
    width: 25%;
    margin-left: 36%;
    margin-bottom: 10px;
    padding: 5px;
}

.green-box-nyhed> div> h3{
    color: #dc793e;
    padding-bottom: 0.5em;
    font-weight: bolder;
    font-size: 24pt;
}

/*TAK FOR TILMELDING*/

#smiley{
    width: 100px;
    padding-bottom: 50%;
}

.white-box{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.white-box> div> h1{
    padding-bottom: 0.5em;
}

.white-box> div> h5{
    padding-top: 4em;
    padding-bottom: 0.5em;
}

/*HEADINGS AND PARAGRAPHS*/

h1{
    font-family: 'Myriad Pro';
    font-size: 40pt;
    font-weight: 560;
    letter-spacing: 0.4pt;
}

h2{
    font-family: 'Myriad Pro';
    font-size: 18pt;
    font-weight: 400;
    letter-spacing: 0.4pt;
    padding-left: 120px;
    padding-bottom: 40px;
    padding-top: 80px;
}

h3{
    font-family: 'Myriad Pro'; 
    font-size: 18pt;
    font-weight:400;
}

H4{
    font-family: 'Myriad Pro';
    font-size: 12pt;
    font-style: italic;
    font-weight:640;
    padding-bottom: 1em;
}

h5{
    font-family: 'Myriad Pro', sans-serif;
    font-style: italic;
    font-size: 12pt;
    padding-top: 1em;
    padding-bottom: 2.4em;
}
h6{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 12pt;
    color: #dc793e;
    font-style: italic;
    line-height: 1.6;
    padding-top: 1.2em;
}

p{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 12pt;
    letter-spacing: 0.2pt;
    line-height: 1.8em;
    padding-top: 1em;
}

/*FOOTER*/

footer{
    background-color: #7d888c;
    margin-top: 180px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: -140px;
}

#place-center{
    margin-left: -200px;
}

footer> div> a> img{
    width: 10%;
    float: left;
    padding-top: 16px;
    padding-right: 10px;
}

footer > div > p > a{
    text-decoration: none;
    color: #1c1c1b;
}

footer > div > p > a:hover{
    font-weight: 600;
}


/*MEDIA QUERY TABLET and Over*/
                                               
@media only screen and (min-width:1026px){

#mobilemenubutton{
    display: none;
}

#kontaktikoner{
    display: none;
}
}

/*MEDIA QUERY TABLET and Under*/

@media only screen and (max-width:1026px){

#desktopmenu{
    display: none;
}

nav> a> #søgeikon{
    display: none;
}

#mobilemenubutton {
    width: 30px;
    height: 30px;
    padding-right: 100px;
    display: inline-flex;
}

#logo{
    height: 40px;
    display: flex;
    align-items: center;
}

footer> div> h3{
    display: none;
}
footer> div> p{
    display: none;
}

#kontakt{
    display: none;
}

footer> div> a> img{
    width: 6%;
    display: flex;
    margin-left: 10px;
    justify-content: space-around;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
}
#kontaktikoner{
  margin-left: 520px;
}

.flex{
    display: flex;
    flex-direction: column;  
    align-items: center;
    padding-top: 10%;
  
}

.flex> div> img{
    width: 90%;
    align-items: center;
}

#frame{
    margin-left: 0px; 
    margin-top: 60px;
}

#fade-in-pop-up{
    width: 35%;
    left: 480px;
    top: 260px;
}

.green-box{
    width: 90%;
}

.cards{
    align-items: center;
}

.thumbnail{
    width: 26%;
}

.bøger{
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
}

.green-box-bøger{
    width: 90%;  
}

.opacity-box-diæt{
    position: relative; top: 250px; left: 270px;  
}

.artikel{
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.green-box-bog{
    height: 500px;
    padding-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.green-box-bog> div> img{
    padding-right: 100px;
    padding-left: 100px;  
}

.nyhed{
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
}

#green{
    padding-left: 10%;  
}

.green-box-nyhed{
    height: 400px;
    width: 90%;
}

h2{
    padding-left: 42%;
    padding-bottom: 40px;
    padding-top: 60px;
}
}

/*MEDIA QUERY MOBIL and Under*/

@media only screen and (max-width:768px){

#button{
    display: none;
}

#shoppingbagicon{
    width: 40px;
    height: 40px;
    display: inline-flex;
}

.cards{
    flex-direction: column;
    align-items: center;
}

.thumbnail{
    width: 90%;
    margin-top: 40px;
}

.opacity-box{
    position: relative; top: 140px; left: 20px;  
}

.flex{
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.flex> div> img{
    width: 90%;
    align-items: center;
}

#fade-in-pop-up{
    width: 55%;
    left: 150px;
    top: 350px;
}

.green-box{
    flex-direction: column;
    align-items: center;
    height: 750px;
    width: 96%;
}

.green-box> div> img{
    width: 60%;
    padding-left: 20%;
    padding-bottom: 4%;
}

.bøger{
    padding-top: 25%;
    padding-left: 10%;
    padding-right: 10%;
}

.green-box-bøger{
    flex-direction: column;
    align-items: center;
    height: 680px;
    width: 90%;
    padding-left: 10%;
}

.green-box-bøger> div> img{
    padding-bottom: 8%;
}

.opacity-box-diæt{
    width: 60%;
    height: 200px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    position: absolute; top: 140px; left: 100px;  
}

#fodmap{
    background-size:90%;
    background-position-y: 100px;
}

.artikel{
    padding-left: 10%;
    padding-right: 10%;
    position: relative; top: -140px;
}

.green-box-bog{
    display: flex;
    flex-direction: column;
    padding: 10%;
    height: 700px;
    margin-top: 10px;
}

.green-box-bog> div> img{
    width: 200px;
    padding-right: 160px;
    padding-left: 180px;
    transform: rotate(0deg);
}

.green-box-bog> div> h3{
  padding-bottom: 1em;
  padding-top: 1.5em;
}

.nyhed{
    padding-top: 25%;
    padding-left: 10%;
    padding-right: 10%;
}

.fordele{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 20px;
}

.pictogram{
    width: 30%; 
}

.green-box-nyhed{
    height: 500px;
    width: 96%;
}

h2{
   margin-right: 100px;
}

footer> div> a> img{
    width: 12%;
    display: flex;
    margin-left: 10px;
    justify-content: space-around;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
}
#kontaktikoner{
  margin-left: 450px;
}
}


